<html>

<head>
    <title>Express</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164493704-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-164493704-3');
    </script>
    <title>LimiDo | 本当に必要なタスクに集中するためのタスク管理サービス</title>
</head>

<body>
    <div class="st-wrapper flex h-full">
      <div class="side-menu w-64 bg-blue-100 shadow-md">
        <ul class="mt-24">
          <li class="py-0.5 bg-blue-300">
          <div id="title" class='flex-none py-8'>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class='float-left w-5 h-5'>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
            </svg>
            <p>Inbox</p>
          </div>
          </li>
          <li class="mx-auto my-8">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5 float-left">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <a href="https://hashue.github.io/Timer/">ポモドーロ</a>
          </li>
        </ul>
      </div>
        <div class="content flex flex-col mx-auto max-w-5xl w-2/3 ">
          <div id="title" class='flex-none my-8'>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class='float-left w-9 h-9'>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
            </svg>
            <h2 class="text-3xl">Inbox</h2>
            <h3 id="task-limit" class='mt-2'></h3>
          </div>
        <div id="taskinput">
            <input id="task-info" class="w-full bg-gray-200 my-8 p-3 text-xs rounded-lg border border-trasparent focus:border-blue-300"
                type="text" name="task-info" placeholder="タスクを入力してください">
        </div>
        <div class="flex flex-col " id="task-list">
        </div>
        </div>
    </div>
    <script src="/js/index.js"></script>

</body>

</html>
