<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href=https://stitches.hyperyolo.com/output.css rel="stylesheet">
    <link rel="stylesheet" href=https://use.fontawesome.com/releases/v5.6.3/css/all.css
        integrity=sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/
        crossorigin="anonymous">
    <title>LimiDo | 本当に必要なタスクに集中するためのタスク管理サービス</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164493704-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-164493704-3');
    </script>
</head>

<body class="flex flex-col min-h-screen">
        <nav class="font-sans bg-white text-center flex justify-between my-4 mx-auto container overflow-hidden">
            <a href="/" class="block text-left">
                <h1 class="text-2xl font-bold">LimiDo</h1>
            </a>
            <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
                <button class="bg-black hover:bg-text-gray-800 text-white ml-4 py-2 px-3">
      <a href="/inbox">始める→</a>
    </button>
            </ul>
        </nav>
        <section class=" font-sans">
            <div class="container m-auto flex flex-col max-w-xl">
                <h1 class='my-16 text-center text-4xl font-bold'>たくさんのタスクに疲れていませんか？<br> そのタスクは本当に必要ですか？
                </h1>
                <div class="text-center w-full py-8">
                  <button class="bg-transparent hover:bg-black text-black font-semibold hover:text-white py-2 px-4 border border-black hover:border-transparent">
                    <a href="/inbox">始める→</a>
                  </button>
                </div>
            </div>
        </section>
        <section class="font-sans container m-auto text-center py-8">
            <h1 class="mt-2 mb-4 font-medium max-w-sm m-auto">LimiDoは本当に必要なタスクに集中するためのタスク管理サービスです</h1>
            <hr class="border-b w-8 m-auto my-6">
            <div class="flex flex-wrap justify-between items-start">
                <div class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4">
                    <div class="w-14 h-14 rounded-full mr-4 bg-gray-300" alt=""></div>
                    <h2 class="my-4 font-medium">決められた個数で最大の利益を</h2>
                    <p class="leading-normal mb-4 text-gray-700">当サービスは他のタスク管理サービスとは違い、1日に追加できるタスクを制限することで本当に重要なタスクのみに集中できます</p>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4">
                    <div class="w-14 h-14 rounded-full mr-4 bg-gray-300" alt=""></div>
                    <h2 class="my-4 font-medium">できなかったことを引きずらない</h2>
                    <p class="leading-normal mb-4 text-gray-700">当サービスは追加後24時間経過した未完了タスクを強制的にリセットすることで、未完了タスクから起きるストレスを防止します</p>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/4 flex flex-col items-center justify-center p-4">
                    <div class="w-14 h-14 rounded-full mr-4 bg-gray-300" alt=""></div>
                    <h2 class="my-4 font-medium">ログインなしですぐに使える</h2>
                    <p class="leading-normal mb-4 text-gray-700">当サービスはLocalStorageを用いることで、ログイン不要すぐに利用できます</p>
                </div>
            </div>
        </section>
        <footer class="font-sans bg-black text-white py-8 px-4">
            <div class="mx-auto max-w-xl overflow-hidden ">
                <p class="py-2 px-3 text-gray-700 text-xs text-center"> ©2021 Hasu All rights reserved.</p>
            </div>
        </footer>
</body>

</html>
